.gallery{
	width: 95%;
	border: 2px solid black;
	margin:0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

.gallery img{
	width: 100%;
}

.item{
	border: 2px solid black;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    display: none;
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background-color: black;
    background-opacity: .75; 
    text-align:center;
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    width:940px;
}

